/* Dark mode colors. */
:root {
  --sl-color-accent-low: #10204b;
  --sl-color-accent: #2251f5;
  --sl-color-accent-high: #afc8ff;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #ededf1;
  --sl-color-gray-2: #c1c2c6;
  --sl-color-gray-3: #8a8b93;
  --sl-color-gray-4: #56575f;
  --sl-color-gray-5: #37383f;
  --sl-color-gray-6: #25262d;
  --sl-color-black: #17181b;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #c4d7ff;
  --sl-color-accent: #2454f8;
  --sl-color-accent-high: #132b70;
  --sl-color-white: #17181b;
  --sl-color-gray-1: #25262d;
  --sl-color-gray-2: #37383f;
  --sl-color-gray-3: #56575f;
  --sl-color-gray-4: #8a8b93;
  --sl-color-gray-5: #c1c2c6;
  --sl-color-gray-6: #ededf1;
  --sl-color-gray-7: #f6f6f8;
  --sl-color-black: #ffffff;
}
